In [5]:
#
# Recap
#

# str
name = 'Goncalo'  # '' or "" is same
hello_message = 'Hello, %s!' % name  # legacy

In [6]:
print(f'Hello, {name}!')

Hello, Goncalo!

In [7]:
f'1 + 1 = {1+1}'

'1 + 1 = 2'

In [8]:
result = 1 + 1
f'{result = }'

'result = 2'

In [9]:
f'{hello_message = }'

"hello_message = 'Hello, Goncalo!'"

In [15]:
# int
number = 10 * 23 - 123123 // 12
type(number)
number = number / 3
type(number)

float

In [13]:
# float
decimal_number = 10.2
print(decimal_number, type(decimal_number))
decimal_number = 'adsasd'

10.2 <class 'float'>

In [16]:
# bool
number = 2
some_bool = True  # False
is_1 = number == 1
is_1
none = None

a = 10  # value assignment
b = a  
a = 20

False

In [36]:

# list
my_list = [1, 2, 3, 4, 10]  # reference
my_list
sum(my_list)
my_list.append(20)
my_list.extend([0, 0, 0, 0])
my_list.insert(1, -10)

my_list[0]
my_list[1:3]
my_list[:4]
my_list[2:-1]

my_list[0] = 50

other_list = my_list
my_list.append(10000)
other_list[-1]

10000

In [37]:
# tuple
my_tuple = ('Goncalo', 'software dev', 26)
# my_tuple[1] = 'aerospace eng'  # raises exception

some_list = [1, 2, 3]
another_tuple = ('Hello!', 12, some_list)  # some_list -> pointer 
print(another_tuple)
another_tuple[2].append(4)
print(another_tuple)

name, job, age = my_tuple

('Hello!', 12, [1, 2, 3])
('Hello!', 12, [1, 2, 3, 4])

In [43]:
# dicts
dictionary = {'name': 'Goncalo', 'job': 'software dev', 'age': 26}
dictionary['age'] = 50
dictionary['kids'] = 3
print(dictionary.values(), dictionary.keys(), dictionary.items())

for key, value in dictionary.items():
    if isinstance(value, str):
        print(f'{key=}, {value=}')


import copy
same_dict = dictionary
same_dict['name'] = 'Pedro'
dictionary['name']
other_dict = copy.deepcopy(dictionary)
other_dict['name'] = 'Joao'
dictionary['name']

new_dict = {'name' : 'G', 'name': 'P'}

dict_values(['Goncalo', 'software dev', 50, 3]) dict_keys(['name', 'job', 'age', 'kids']) dict_items([('name', 'Goncalo'), ('job', 'software dev'), ('age', 50), ('kids', 3)])
key='name', value='Goncalo'
key='job', value='software dev'

In [51]:
#
# Dicts & sets -> hash tables -> no key repetition
#
my_set = {1, 2, 'hello'}
my_set.update({1, 2, 3, 4})
set([1, 1, 1, 2, 3, 4, 1, 4, 4, 5, 3])  # 1-10
#  my_set[0]  # raises exception

{1, 2, 3, 4, 5}

In [55]:
# Classes

class Person:
    def __init__(self, name: str, age: int, job: str, kids: list) -> None:
        self.name = name
        self.age = age
        self.job = job
        self.kids = kids

    def __repr__(self) -> str:
        return f'Person({self.name},{self.age})'

    def has_kids(self) -> bool:
        return len(self.kids) > 0

    def last_name(self) -> str:
        names = self.name.split(' ')
        if len(names) > 1:
            return names[-1]
        else:
            return ''

goncalo = Person('Gon', 26, 'dev', ['R', 'L'])
if goncalo.has_kids():
    print(goncalo.kids)
print(goncalo.last_name())

goncalo.name = 'Goncalo Magalhaes'
print(goncalo.last_name())
goncalo

['R', 'L']

Magalhaes

Person(Goncalo Magalhaes,26)

In [60]:
# range
print(my_range := range(10), type(my_range))
list(my_range)
list(range(2, 30, 3))

sum_all = 0
for i in range(10):
    sum_all += i
    print(sum_all, end=' ')
print('\n')
# equivalent of C's for(int i = 0; i < 10; i++)

for _ in range(3):
    print('heep heep hurray!')

range(0, 10) <class 'range'>
0 1 3 6 10 15 21 28 36 45

heep heep hurray!
heep heep hurray!
heep heep hurray!

In [70]:
# lambdas -> anonymous function
def greet(name: str) -> str:
    # 1-liner, can become a lambda
    return f'Howdy, {name}!'

print(greet('Joao'))
print((lambda name: f'Howdy, {name}!')('Pedro'))

import collections
Person = collections.namedtuple('Person', ['name', 'age'])
persons = [
    Person('z', 26),
    Person('j', 30),
    Person('m', 35)
]

older_person = persons[0]
for person in persons:
    if person.age > older_person.age:
        older_person = person

print('Max age is', older_person.age)

older_person = max(persons, key=lambda person: person.age)
older_person

Howdy, Joao!
Howdy, Pedro!
Max age is 35

Person(name='m', age=35)

In [73]:
# map

from typing import List

class Person:
    def __init__(self, name: str, age: int) -> None:
        self.name = name
        self.age = age

    def __repr__(self) -> str:
        return f'Person(name={self.name}, age={self.age})'

persons = [
    Person('g', 26),
    Person('j', 30),
    Person('m', 15)
]

def pass_year(persons: List[Person]) -> List[Person]:
    # v1
    # older_persons = []
    # for person in persons:
    #     older_persons.append(Person(person.name, person.age+1))
    # return older_persons
    
    # v2
    # return list(map(
    #     lambda person: Person(person.name, person.age+1), 
    #     persons
    # ))

    # v3
    return [Person(person.name, person.age+1) for person in persons]

print(persons)
print(pass_year(persons))

[Person(name=g, age=26), Person(name=j, age=30), Person(name=m, age=15)]
[Person(name=g, age=27), Person(name=j, age=31), Person(name=m, age=16)]

In [78]:
some_list = [1, 2, 3, 4]
list(map(lambda n: n*'*', some_list))

# filter
list(filter(lambda n: n % 2 == 0, some_list))
list(filter(lambda person: person.age > 20, persons))

[Person(name=g, age=26), Person(name=j, age=30)]

In [82]:
# listcomp
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# equivalent to map
mul_by_2 = [2*n for n in numbers]
# equivalent to filter
divisible_by_2 = [n for n in numbers if n % 2 == 0]
# both
other_numbers = [2*n for n in numbers if n % 2 == 0]
# if and else
other_other_numbers = [
    2*n 
    if n % 2 != 0 
    else 3*n 
    for n in numbers
]
print(numbers)
other_other_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[2, 6, 6, 12, 10, 18, 14, 24, 18, 30]

In [87]:
# dict comp , set comp
person_dictionary = {person.name: person.age for person in persons}
print(person_dictionary)
person_names = {person.name for person in persons}
print(person_names)

{'g': 26, 'j': 30, 'm': 15}
{'m', 'g', 'j'}

In [95]:
# genexp - Generator expressions
genexp_numbers = (2*n for n in numbers)
genexp_numbers
print(next(genexp_numbers))
print(next(genexp_numbers))
print('Start loop')
for n in genexp_numbers:
    print(n)
# next(genexp_numbers)  # raises exception

2
4
Start loop
6
8
10
12
14
16
18
20