In [ ]:
import pandas as pd
import numpy as np

some_data = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj1 = pd.Series(some_data)
obj1

In [ ]:
states = ['California', 'Ohio', 'New York', 'Texas']
obj2 = pd.Series(some_data, index=states)
obj2

In [ ]:
obj2.isnull()  # Checks missing data, like NaN or None

In [ ]:
obj1+obj2  # sums data, and adds missing indexes

In [ ]:
obj1.name = 'population'
obj1.index.name = 'state'
obj1

In [ ]:
#
# DataFrame
#
data = {
    'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
    'year': [2000, 2001, 2002, 2001, 2002, 2003],
    'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]
}
frame = pd.DataFrame(data)
frame

In [ ]:
frame.head()

In [ ]:
frame.tail()

In [ ]:
pd.DataFrame(data, columns=['year', 'state', 'pop'])

In [ ]:
frame = pd.DataFrame(data, columns=['year', 'state', 'pop'], index=['one', 'two', 'three', 'four', 'five', 'six'])
frame

In [ ]:
print(frame.columns)
print(frame['state'])  # fetch column
print(frame.year)

In [ ]:
frame.loc['one']  # fetch row

In [ ]:
frame['debt'] = np.arange(6)
frame

In [ ]:
frame['debt'] = pd.Series([-1, 20.3], index=['two', 'five'])
frame

In [ ]:
frame.state == 'Ohio'

In [ ]:
frame['isOhio'] = frame.state == 'Ohio'
frame

In [ ]:
del frame['isOhio']
frame

In [ ]:
frame.T

In [ ]:
index = frame.index
index

In [ ]:
index[3:]

In [ ]:
# index[2] = 'other_stuff'  # TypeError

In [ ]:
labels = pd.Index(['something', 'other_something', 'something'])
labels

In [ ]:
obj = pd.Series(np.arange(4), index=['a', 'b', 'c', 'd'])
obj

In [ ]:
obj.reindex(['a', 'b', 'd', 'e', 'f'])

In [ ]:
obj = pd.Series(['a', 'b', 'c'], index=[0, 2, 4])
obj

In [ ]:
obj.reindex(range(6), method='ffill')

In [ ]:
obj = pd.Series(range(5), index=['a', 'b', 'c', 'd', 'e'])
obj

In [ ]:
obj.drop('c')

In [ ]:
obj.drop(['a', 'e'])

In [ ]:
obj.drop('b', inplace=True)
obj

In [ ]:
df = pd.DataFrame(
    np.arange(16).reshape((4, 4)),
    index=['Ohio', 'Colorado', 'Utah', 'New York'],
    columns=['one', 'two', 'three', 'four']
)
df

In [ ]:
df[df['three'] > 5]

In [ ]:
df.loc['Utah']

In [ ]:
df.iloc[2]

In [ ]:
df.iloc[:, :3][df.three > 5]

In [ ]:
# Arithmetic (if we have time)
df + df

In [ ]:
df * 2

In [ ]:
print(df.index)
df.sort_index()

In [ ]:
df.add(df)

In [ ]:
df.apply(lambda x: x.max(), axis='columns')

In [ ]:
df.apply(max)